.new-collections{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px;

}

.new-collections h1 {
    color: black;
    font-size: 50px;
    font-weight: 400;
}

.new-collections hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: black;
}

.collections{
    display: flex;
    gap: 10px;
}

.collections-items {
    display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 cột */
  gap: 16px;
  margin-top: 10px;
  
}

@media only screen and (min-width: 640px) and (max-width: 767px) {
    .collections-items  {
      grid-template-columns: repeat(2, 1fr); /* 2 cột */
    }
  }
  
  /* Quy tắc cho màn hình nhỏ hơn hoặc bằng 639px (di động) */
  @media only screen and (max-width: 639px) {
    .collections-items {
      grid-template-columns: repeat(1, 1fr); /* 1 cột */
    }
  }

